fastapi
uvicorn
openai
python-dotenv
pywin32
python-docx
python-pptx
openpyxl
XlsxWriter
SpeechRecognition
pyttsx3
pydantic
python-multipart
requests
PyQt5
PyQtWebEngine
pyinstaller
psutil
pyautogui
pandas
PyPDF2
PyAudio
